@font-face {
	font-family: "Upheaval";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/upheavtt.ttf") format("truetype");
}

@font-face {
	font-family: "Permanent Marker";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format("truetype");
}
