.footer-container{
    margin: 2rem 0;
    text-align: center;
}

.footer-text, .footer-image{
    //display: inline-block;
    vertical-align: middle;
}

.footer-image{
    margin-right: 1rem;
}

.footer-text{
    font-size: 0.8rem;
    a{
        color: $footer-link;
        &:hover{
            color: $footer-link-hover;
        }
    }
}
