/* ------------ External Imports ------------ */
@import "normalize";

/* ------- Fonts ------- */
@import "fonts";

/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- General Styles -------*/
html{
    font-family: "Permanent Marker", sans-serif;
    font-size: $font-size;
    color: $text-color;
    background-color: $background-color;
    min-height: 100%;
    overflow-x: hidden;
    background: url( '../public/corner_top_left.png' ) no-repeat scroll left top border-box,
        url( '../public/corner_top_right.png' ) no-repeat scroll right top border-box,
        url( '../public/corner_bottom_left.png' ) no-repeat scroll left bottom border-box,
        url( '../public/corner_bottom_right.png' ) no-repeat scroll right bottom border-box,
        url( '../public/top.png' ) repeat-x scroll right top border-box,
        url( '../public/left.png' ) repeat-y scroll left top border-box,
        url( '../public/right.png' ) repeat-y scroll right top border-box,
        url( '../public/bottom.png' ) repeat-x scroll left bottom border-box,
        url( '../public/floor.png' ) left top repeat padding-box;
}

a{
    color: $link;
    transition: all 200ms ease;
    &:focus, &:hover{
        color: $link-hover;
        transition: all 200ms ease;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Upheaval";
}

#fly-cursor{
    position: absolute;
    z-index: 1;
    display: none;
}

.branding, .container{
    width: $width;
    margin: 0 auto;
}

@import "branding";
@import "clock";
@import "modal";
@import "footer";
