/* ------------ External Imports ------------ */
@import "normalize";

/* ------- Fonts ------- */
@import "fonts";

/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- General Styles -------*/
html{
    font-size: $font-size;
    color: $text-color;
    background-color: $background-color;
}

a{
    color: $link;
    transition: all 200ms ease;
    &:focus, &:hover{
        color: $link-hover;
        transition: all 200ms ease;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Upheaval";
}

.branding, .container{
    width: $width;
    margin: 0 auto;
}
