/* ------------ External Imports ------------ */
@import "normalize";

/* ------- Fonts ------- */
@import "fonts";

/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- General Styles -------*/
html{
    font-size: $font-size;
    color: $text-color;
    background: linear-gradient( $background-color, $background-color-alt ), url( '../public/what-the-hex.png' );
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: $link;
    transition: all 200ms ease;
    &:focus, &:hover{
        color: $link-hover;
        transition: all 200ms ease;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher', sans-serif;
}

.container{
    max-width: $width;
    margin: 0 auto;
    line-height: $line-height;
}

.bold{
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase;
}

.button{
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    color: $button-text;
    background-color: $button-background;
    text-shadow: 2px 2px $button-shadow;
    border-top: 2px solid $button-border;
    border-left: 2px solid $button-border;
    border-bottom: 2px solid $button-shadow;
    border-right: 2px solid $button-shadow;

    &:hover{
        cursor: pointer;
    }
}

.error{
    border-radius: 0.5rem;
    border: 1px solid $error-text;
    color: $error-text;
    background-color: $error-background;
    padding: 1rem;

    & p{
        margin: 0.5rem 0 !important;
        &::before{
            content: "• ";
        }
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

@import "banner";
@import "search";
@import "footer";
@import "list";
@import "menu";
@import "company-form";
